	²²²²div {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 200px; background-color: blue;}
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px; background-color: blue;}
}


#example1 {
  border: 10px dotted black;
  padding: 15px;
  background: lightblue;
  background-clip: border-box;  
}
table.ex1 {
  empty-cells: hide;
}


.grid-container {
  display: grid;
  grid-template: 150px / auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


#t1 {
  -moz-tab-size: 4; /* Firefox */
  -o-tab-size: 4; /* Opera 10.6-12.1 */
  tab-size: 4;
}

#t2 {
  -moz-tab-size: 16; /* Firefox */
  -o-tab-size: 16; /* Opera 10.6-12.1 */
  tab-size: 16;
}

p.test1 {
  writing-mode: horizontal-tb; 
}

p.test2 {
  writing-mode: vertical-rl; 
}

span.test2 {
  writing-mode: vertical-rl; 
}


img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}